<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/PageNotFoundOrError</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/PageNotFoundOrError</location>
    </error-page>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CompanyAdminFilter</filter-name>
        <filter-class>filters.CompanyAdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>filters.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CompanyAdminFilter</filter-name>
        <servlet-name>CompanyAdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>InventoryServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryServlet</servlet-name>
        <servlet-class>servlets.InventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyAdminServlet</servlet-name>
        <servlet-class>servlets.CompanyAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageNotFoundOrErrorServlet</servlet-name>
        <servlet-class>servlets.PageNotFoundOrErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryServlet</servlet-name>
        <url-pattern>/Inventory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyAdminServlet</servlet-name>
        <url-pattern>/CompanyAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PageNotFoundOrErrorServlet</servlet-name>
        <url-pattern>/PageNotFoundOrError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/Reset</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>cprg352finalproject@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail_password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Redman123</env-entry-value>
    </env-entry>
</web-app>
